body {
  background: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
button {
  outline: 0;
  border: 0;
}

p {
  color: white;
}

h3 {
  color: white;
}
h2 {
  color: white;
}

.contentZen .titleText {
  top: 0vh;
}

.title-text {
  color: white;
  display: none;
  font-weight: 600;
  position: absolute;
  right: 1px;
  max-width: 200px;
}

.fullscreenScroll {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.95);
  width: 100%;
  margin: auto;
}
.fullscreenButtonNext::before {
  margin-top: 67px;
}
.fullscreenButtonPrevious {
  top: 50px;
}
.fullscreenButtonNext:focus {
  background-color: transparent;
  color: white;
}

.fullscreenButtonPrevious,
.fullscreenButtonNext {
  text-shadow: 1px 1px black; 
  border: 0;
  z-index: 5;
  position: absolute;
  color: white;
  bottom: 0px;

  right: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: transparent;
  opacity: 0.8;
}
.fullscreenButtonPrevious:hover,
.fullscreenButtonNext:hover {
  background-color: rgb(0, 0, 0, 0);
  color: white;
}
.fullscreenScroll .video,
.fullscreenScroll .image,
.fullscreenScroll .gif,
.fullscreenScroll .iframe {
  object-fit: contain;
  z-index: 4;
  height: auto;
  max-height: 100vh;
  margin: auto;
}
.loadingSpinner {
  margin: "auto";
  height: 100%;
  width: 100%;
  z-index: 12390139123;
  color: white;
}
i {
  cursor: pointer;
}
.inputFocus {
  height: 0.1px;
  opacity: 0.1;
}
.gridMedia {
  background-color: white;
  border: 5px solid white;
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 5px;
  grid-auto-flow: dense;
}
@media (max-width: 600px) {
  .gridMedia {
    border: 0;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.gridElement:fullscreen {
  display: flex;
  align-content: center;
  border-radius: 5px;
}

.superWide {
  min-height: 300px;
}
.veryWide {
  min-height: 400px;
}
.wide {
}
.rectangular {
}
.tall {
}
.veryTall {
  grid-row: span 2;
}
.superTall {
  grid-row: span 2;
  grid-column: span 1;
}

.fullscreenScroll .fullscreenIcon {
  opacity: 0.7;
  color: white;
  position: absolute;
  font-size: 20px;
  top: 4%;
  right: 1%;
  padding: 20px;
  z-index: 5;
}

.fullscreenIcon {
  text-shadow: 1px 1px black;
  opacity: 0.7;
  color: white;
  position: absolute;
  font-size: 20px;
  top: 0%;
  right: 0%;
  padding: 5px;
  z-index: 5;
}
.hide {
  display: none;
}
.fullscreenIcon i {
  color: white;
}
.playButton {
  opacity: 0.6;
  font-size: 54px;
  color: white;
  display: block;
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  z-index: 5;
}
.playButton .fullscreen {
  top: 50%;
}
.gridElement {
  position: relative;
  display: flex;
  height: 100%;
  background-color: transparent;
  width: 100%;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;

  overflow: hidden;
}
.video {
  position: relative;
}
.image,
.gif,
.video,
iframe {
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;

  object-fit: cover;
}
.loading {
  font-size: 16px;
  display: block;
}

button {
  border: 0;
  background-color: black;
  color: gray;
}
.starterButton {
  display: flex;
  max-height: 100vh;
  min-height: 100vh;
}
.subRedditTitle {
  display: block;
  margin: auto;
  font-size: 500%;
  height: 90vh;
  color: gray;
}

.undone {
  height: 0px;
}

.subredditName {
  font-size: 14px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px black; 
}

.subredditNameDiv {
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  display: flex;
  text-align: right;

  top: 5px;
  width: 100%;
  flex-direction: column;
  z-index: 1;
  vertical-align: bottom;
}

.subredditNameDiv h2,
p {
  font-weight: 600;
  margin-bottom: 0;
}

.categoryModal {
  position: fixed;
  background-color: rgb(0, 0, 0, 0.2);
  height: 1000%;
  width: 100%;
  z-index: 7;
}

.description {
  margin: auto;
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 22px;
  text-align: center;
  margin-top: 12%;
}

.loadMoreWrapper {
  height: 520px;
  display: flex;
  margin: auto;
  width: 100%;
}

.loadMoreButton {
  margin: auto;
}
.fullscreen .loadMoreButton {
  display: none;
}

.spinner {
  display: block;
  text-align: center;
  margin: auto;
  top: 45%;
  position: fixed;
  width: 100%;
  color: white;
}

.grid-container {
  margin-top: 30vh;
  width: 250px;
  margin-left: calc(50% - 125px);
  max-height: 40vh;
  display: grid;
  grid-template-areas:
    "continue continue continue"
    "header header header"
    "menu main  right"
    "menu footer footer ";
  grid-gap: 5px;
  background-color: transparent;
}

/* @media (max-width: 600px) {
  
  .grid-container {
    width: 200px;
    margin-left: calc(50% - 100px);
    
  }
} */

.grid-container button {
  font-size: 16px;
  font-weight: 400;
  color: white;
  border-radius: 10px;
  border-color: transparent;
  border: 2px solid white;
}

.grid-container button:hover {
  border: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.item0 {
  grid-area: continue;
  margin-bottom: 15px;
  min-height: 30px;
  max-height: 50px;
  background-color: #40a9ff;
}
.item1 {
  grid-area: header;
  min-height: 75px;
  max-height: 100px;
  background-color: #ec6262;
}

.item2 {
  grid-area: menu;
  min-height: 100%;
  background-color: #83d6b7;
  min-width: 75px;
}

.item3 {
  grid-area: main;
  min-height: 25px;
  max-height: 50px;
  background-color: #e1d267;
  min-width: 80px;
}
.item4 {
  grid-area: right;
  min-height: 25px;
  max-height: 50px;
  background-color: #e4a8f9;
  min-width: 80px;
}
.item5 {
  grid-area: footer;
  min-height: 75px;
  max-height: 100px;
  background-color: #99ea86;
}

/* .item1:hover {

  color: #ec6262;
}
.item2:hover {
  color: #83d6b7;
}
.item3:hover {
  color: #e1d267;
}
.item4:hover {
  color: #e4a8f9;
}
.item5:hover {
  color: #99ea86;
} */

.fullscreen-nextButton {
  position: absolute;
  top: 0;
}

.iconRight {
  padding: 0;
  right: 0px;
  text-align: right;
}
.iconLeft {
  padding: 0;
  left: 0px;
  text-align: left;
}

.iconLeft:hover,
.iconRight:hover {
  background-color: rgb(0, 0, 0, 0);
}
.fullscreen .iconLeft,
.fullscreen .iconRight {
  font-size: 16px;
}

.iconLeft,
.iconRight {
  text-shadow: 1px 1px black; 
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  font-size: 26px;
  opacity: 0.9;
  height: 100%;
  width: 26px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 4;
  color: white;
}

.iconBack {
  font-size: 40px;
  z-index: 1;
  color: white;
  opacity: 0.4;
}

.wrapper {
  max-width: 100vw;
  height: 100%;
}

.fullscreen-icon {
  z-index: 4;
  color: white;
  position: fixed;
  top: auto;
  left: auto;
  bottom: 10px;
  right: 10px;
  padding: 20px;
}

.autocomplete--entering,
.autocomplete--entered {
  opacity: 1;
  transition: opacity 900ms;
  margin: 5px 0 0 5px;
  font-size: 16px;
  max-width: 200px;
  position: absolute;
}

.autocomplete--exiting,
.autocomplete--exited {
  opacity: 0.3;
  transition: opacity 900ms;
  margin: 5px 0 0 5px;
  position: absolute;
  font-size: 16px;

  max-width: 200px;
}

.transition--entering,
.transition--entered {
  opacity: 1;
  transition: opacity 900ms;
}
.transition--exiting,
.transition--exited {
  opacity: 0;
  transition: opacity 900ms;
}

.searchButton--entering,
.searchButton--entered {
  border: 0 !important;
  position: relative;
  opacity: 1;
  transition: opacity 900ms;
  border: 1px dashed white;
  font-size: 28px;
}

.searchButton--exiting,
.searchButton--exited {
  border: 0 !important;
  position: relative;
  opacity: 0.3;
  transition: opacity 100ms;
  border: 1px dashed white;
  font-size: 28px;
  position: fixed;
  width: 40vw;
}
.ant-spin-dot {
  margin-top: 50%;
}
@media (max-width: 800px) {
  .ant-dropdown {
    width: 100vw;
  }
}

.ant-dropdown {
  width: 30vh;
  position: fixed;
}

.iconSetting {
  font-size: 35px;
  z-index: 6;
  padding: 4px 4px 0 0;
  width: 100px;
  white-space: wrap;
  border: 0;
}

.iconSetting .anticon {
  display: inline;
  fill: white;
  text-align: right;
  color: white;
  text-shadow: 1px 1px black;
}


.searchWrapper {
  width: 100px;
  z-index: 6;
  
}
.searchWrapper .anticon {
  color: white;
  text-shadow: 1px 1px black;
}

.middleWrapper {
  color: white;
  width: 100px;
}
.scrollLogo {
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 26px;
  width: 100%;
  text-align: center;
  margin: 1px;
}

.topbarZen .scrollLogo {
  font-size: 16px;
}

.content {
  height: 100%;
  margin-top: 47px;
}
.contentZen {
  height: 100%;
  min-height: 85vh;
}

/* .contentZen h2 {
  transition: font-size 250ms;
  font-size: 14px;
} */
.topbarZen {
  opacity: 0.8;
  background-color: transparent;
  max-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 6;
  position: fixed;
  top: 0;
  justify-content: space-between;
  border: 0;
}

@media (max-height: 500px) {
  .content i,
  .content h2 {
    transition: font-size 250ms;
    font-size: 14px;
  }
  .content p {
    transition: font-size 250ms;
    font-size: 12px;
  }
}

.topBar .ant-btn:focus {
  color: white;
}

.ant-switch-inner {
  font-size: 19px;
}

.chooseCat {
  fill: white;
  color: white;
}
