body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
button {
  outline: 0;
  border: 0;
}

p {
  color: white;
}

h3 {
  color: white;
}
h2 {
  color: white;
}

.contentZen .titleText {
  top: 0vh;
}
/* .titleText {
  z-index: 1;
  opacity: 0.8;
  text-shadow: 1px 1px 1px black;
  position: absolute;
  top: 41px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
} */

.title-text {
  color: white;
  display: none;
  font-weight: 600;
  position: absolute;
  right: 1px;
  max-width: 200px;
}
.gridElement .iconRight, .gridElement .iconLeft {
  display:none;
}
.gridElement:fullscreen .iconRight, .gridElement:fullscreen .iconLeft {
  display:block;
}

.gridElement:fullscreen .video, .gridElement:fullscreen .image, .gridElement:fullscreen .gif, .gridElement:fullscreen .iframe {
  object-fit: contain;
}
  
.gridMedia {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  grid-gap: 5px;
  grid-auto-flow: dense;
 
}

.gridElement:fullscreen{
  display: flex;
  align-content: center;
}




/* .superWide {
  
 
  
}
.veryWide {
  
}
.wide {

}
.rectangular {
  
  
}
.tall {
 
} */
.veryTall {
  grid-row: span 2;
  
}
.superTall {
  grid-row: span 2;
}

.gridElement {
 
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video {
  min-height: 400px;
}
.image,
.gif,
.video,
iframe {
  height: 100%;
  width: 100%;
  
  
  object-fit: cover;
  
  /* border-radius: 1%;
  border: 0px solid transparent;
  max-height: 100vh;
  object-fit: contain; */

  /*  z-index: 2;
  display: block;
  margin: auto;
  height: 100%;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%; */
}

.loading {
  font-size: 16px;
  display: block;
}

button {
  border: 0;
  background-color: black;
  color: gray;
}
.starterButton {
  display: flex;
  max-height: 100vh;
  min-height: 100vh;
}
.subRedditTitle {
  display: block;
  margin: auto;
  font-size: 500%;
  height: 90vh;
  color: gray;
}

.upDiv {
  position: absolute;
  display: flex;
  left: 50%;
  flex-direction: column;
}

.loaderIcon {
  font-size: 200%;
  color: white;
  z-index: 1;
  position: absolute;
}

.downDiv {
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  display: flex;
  text-align: right;
  bottom: -0%;
  width: 100%;
  flex-direction: column;
  z-index: 1;
  vertical-align: bottom;
}

.downDiv h2,
p {
  margin-bottom: 0;
}

.iconDownClicker {
  z-index: 222;
  background-color: transparent;
  color: white;
  bottom: 1px;
  width: 100%;
}
.iconDown {
  opacity: 1;
  color: white;
  font-size: 29px;
}
.iconDown:hover {
  cursor: pointer;
}

.iconUpClicker {
  background-color: transparent;
  position: absolute;
  top: 1px;
  color: white;
  padding-left: 100%;
  height: 20%;
}
.iconUp {
  width: 100%;
  position: absolute;
  top: 0;
  padding-bottom: 5vh;
  opacity: 0.4;
  font-size: 20px;
  color: white;
}

.categoryModal {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 3;
}

.description {
  margin: auto;
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 22px;
  text-align: center;
  margin-top: 12%;
}

.grid-container {
  max-height: 100%;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "header header header header header"
    "menu main main main right"
    "menu footer footer footer footer";
  grid-gap: 10px;
  background-color: transparent;
  padding: 2% 30% 0 30%;
}
@media (max-width: 600px) {
  .grid-container {
    padding: 5%;
  }
}

.grid-container button {
  font-size: 20px;
  font-weight: 1000;
  color: white;
  border-radius: 30px;
  border-color: transparent;
}

.grid-container button:hover {
  border: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.item1 {
  grid-area: header;
  min-height: 20vh;
  background-color: #ec6262;
}

.item2 {
  grid-area: menu;
  min-height: 100%;
  background-color: #83d6b7;
  min-width: 15vw;
}

.item3 {
  grid-area: main;
  min-height: 10vh;
  background-color: #e1d267;
  min-width: 10vw;
}
.item4 {
  grid-area: right;
  min-height: 10vh;
  background-color: #e4a8f9;
  min-width: 10vw;
}
.item5 {
  grid-area: footer;
  min-height: 20vh;
  background-color: #99ea86;
}

.item1:hover {
  background-image: url("./pics/nsfw.jpeg");
  color: #ec6262;
}
.item2:hover {
  background-image: url("./pics/art.jpeg");
  color: #83d6b7;
}
.item3:hover {
  background-image: url("./pics/food.jpeg");
  color: #e1d267;
}
.item4:hover {
  background-image: url("./pics/sfw.jpeg");
  color: #e4a8f9;
}
.item5:hover {
  background-image: url("./pics/animals.jpg");
  color: #99ea86;
}

.iconRight {

  position: absolute;
  right: 1%;
  opacity: 0.4;
}

.iconLeft,
.iconRight {
  cursor: pointer;
  background-color: transparent;
  opacity: 0.6;
  height: 90%;
  position: fixed;
  margin-top: 10%;
  top: 0;
  bottom: 0;
  z-index: 2;
  font-size: 24px;
  color: white;
  transition: font-size 250ms;
}

.iconRight i {
  position: absolute;
  right: 1px;
  text-align: right;
}
.iconRight i,
.iconLeft i {
  transition: font-size 250ms;
}

.iconBack {
  font-size: 40px;
  z-index: 1;
  color: white;
  opacity: 0.4;
}

.subredditName {
  font-size: 16px;
  text-align: center;
}

.inputFocus {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: transparent;
  color: red;
}

.wrapperRow {
  display: flex;
  flex-direction: column;
}
.wrapper {
  max-width: 100vw;
  background-color: black;
  /* width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden; */
}

.lazy {
  display: none;
}

.logoTexts {
  display: relative;
  height: 70vw;
}
.flexer {
  display: flex !important;
  flex-direction: row !important;
}
.logo {
  margin-bottom: 0 !important;
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 40px;
}

.sloganText {
  font-style: italic;
  font-size: 16px;
}

.searchWrapper {
  width: 50px;
  z-index: 3;
}

.fullscreen-icon {
  z-index: 123123;
  color: white;
  position: fixed;
  top: auto;
  left: auto;
  bottom: 10px;
  right: 10px;
  padding: 20px;
}

.autocomplete--entering,
.autocomplete--entered {
  opacity: 1;
  transition: opacity 2200ms;
  margin: 5px 0 0 5px;
  font-size: 16px;
  max-width: 200px;
  position: absolute;
}

.autocomplete--exiting,
.autocomplete--exited {
  opacity: 0.3;
  transition: opacity 2200ms;
  margin: 5px 0 0 5px;
  position: absolute;
  font-size: 16px;

  max-width: 200px;
}
.transition--entering,
.transition--entered {
  opacity: 1;
  transition: opacity 900ms;
}
.transition--exiting,
.transition--exited {
  opacity: 0;
  transition: opacity 900ms;
}

.searchButton--entering,
.searchButton--entered {
  border: 0 !important;
  position: relative;
  opacity: 1;
  transition: opacity 2200ms;
  border: 1px dashed white;
  font-size: 28px;
}

.searchButton--exiting,
.searchButton--exited {
  border: 0 !important;
  position: relative;
  opacity: 0.3;
  transition: opacity 2200ms;
  border: 1px dashed white;
  font-size: 28px;
}
@media (max-width: 600px) {
  .ant-dropdown {
    width: 100vw;
  }
}

.ant-dropdown {
  position: fixed;
}

.iconSetting {
  font-size: 35px;
  z-index: 1231123123123123123123233;
  padding-top: 2px;
  max-width: 100px;
  white-space: wrap;
  border: 0;
}

.iconSetting .anticon {
  display: inline;
  fill: white;
}

.middleWrapper {
  color: white;
}
.scrollLogo {
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 26px;
  margin: 1px;
}

.topbarZen .scrollLogo {
  opacity: 0.5;
  font-size: 16px;
}

.content {
  height: 100%;
  margin-top: 47px;
}
.contentZen {
  height: 100%;

}

.contentZen i,
.contentZen h2 {
  transition: font-size 250ms;
  font-size: 14px;
}
.topbarZen {
  opacity: 0.5;

  background-color: transparent;
  max-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 222212312312312312322;
  position: fixed;
  top: 0;
  justify-content: space-between;
  border: 0;
}
.topBar {
  position: fixed;
  top: 0;

  background-color: #252120;
  max-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 2;

  justify-content: space-between;
  border-bottom: 1px solid #1890ff;
}

@media (max-height: 500px) {
  .content i,
  .content h2 {
    transition: font-size 250ms;
    font-size: 14px;
  }
  .content p {
    transition: font-size 250ms;
    font-size: 12px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
  .content i,
  .content h2 {
    transition: font-size 250ms;
    font-size: 14px;
  }
  .content p {
    transition: font-size 250ms;
    font-size: 12px;
  }
  .titleText {
    top: 8vh;
  }
  .topBar {
    height: 8vh;
  }
}
.topBar .ant-btn:focus {
  color: white;
}

.startWrap {
  display: flex;
  flex-direction: row;
  height: 120vh;
}

.startWrap button {
  border: 0 !important;
  border-radius: 0.1px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
}

.ageConsent button {
  background-color: black !important;
}

.smallText {
  font-size: 12px !important;
  background-color: black;
}

.footerDiv {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  bottom: 0;
}

.footerDiv p,
h3 {
  color: lightgray;
}
.instructions p,
h3 {
  color: lightgray !important;
}

.rightCol {
  text-align: center;
  width: 49%;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  opacity: 0.9;
}
.leftCol {
  text-align: center;
  width: 48%;
  margin-left: 0.5%;
  display: flex;
  flex-direction: column;
}

.ant-switch-inner {
  font-size: 19px;
}

.ageConsent {
  position: relative;
  margin: auto;
  text-align: center;
}

.chooseCat {
  fill: white;
  color: white;
}
