body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  position: fixed;
}
button {
  outline: 0;
  border: 0;
}

p {
  color: white;
}

h3 {
  color: white;
}
h2 {
  color: white;
}

.videoLoader {
  display: block;
  margin: auto;
  font-size: 500%;
  height: 90vh;
  color: gray;
}
.contentZen .titleText {
  top: 0vh;
} 
.titleText {
  z-index: 1;
  opacity: 0.8;
  text-shadow: 1px 1px 1px black;
  position: absolute;
  top: 5vh;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.imgDiv, .videoDiv {
  width: 100%;
  height: 100%;
  color: white;
}

.image, .video {
  z-index: 2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.loading {
  font-size: 16px;
  display: block;
}


button {
  border: 0;
  background-color: black;
  color: gray;
}
.starterButton {
  display: flex;
  max-height: 100vh;
  min-height: 100vh;
}
.subRedditTitle {
  display: block;
  margin: auto;
  font-size: 500%;
  height: 90vh;
  color: gray;
}

.upDiv {
  position: absolute;
  display: flex;
  left: 50%;
  flex-direction: column;
}

.loaderIcon {
  font-size: 200%;
  color: white;
  z-index: 1;
  position: absolute;
}

.downDiv {
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  display: flex;
  text-align: right;
  bottom: -0%;
  width: 100%;
  flex-direction: column;
  z-index: 1;
  vertical-align: bottom;
}


.iconDownClicker {
  z-index: 222;
  background-color: transparent;
  color: white;
  bottom: 1px;
  width: 100%;
}
.iconDown {
  opacity: 1;
  color: white;
  font-size: 29px;
}
.iconDown:hover {
  cursor: pointer;
}

.iconUpClicker {
  background-color: transparent;
  position: absolute;
  top: 1px;
  color: white;
  padding-left: 100%;
  height: 20%;
}
.iconUp {
  width: 100%;
  position: absolute;
  top: 0;
  padding-bottom: 5vh;
  opacity: 0.4;
  font-size: 20px;
  color: white;
}


.categoryModal {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 3;
}

.description {
  margin: auto;
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 22px;
  text-align: center;
  margin-top: 12%;
}

.grid-container {
  max-height: 100%;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "header header header header header"
    "menu main main main right"
    "menu footer footer footer footer";
  grid-gap: 10px;
  background-color: transparent;
  padding: 2% 30% 0 30%;
}
@media (max-width: 600px) {
  .grid-container {
    padding: 5%;
  }
}

.grid-container button {
  font-size: 20px;
  font-weight: 1000;
  color: white;
  border-radius: 30px;
  border-color: transparent;
}

.grid-container button:hover {
  border: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.item1 {
  grid-area: header;
  min-height: 20vh;
  background-color: #ec6262;
}

.item2 {
  grid-area: menu;
  min-height: 100%;
  background-color: #83d6b7;
}

.item3 {
  grid-area: main;
  min-height: 10vh;
  background-color: #e1d267;
}
.item4 {
  grid-area: right;
  min-height: 10vh;
  background-color: #e4a8f9;
}
.item5 {
  grid-area: footer;
  min-height: 20vh;
  background-color: #99ea86;
}

.item1:hover{
  background-image: url("./pics/nsfw.jpeg");
  color: #ec6262;
}
.item2:hover{
  background-image: url("./pics/art.jpeg");
  color: #83d6b7;
}
.item3:hover{
  background-image: url("./pics/food.jpeg");
  color:#e1d267;
}
.item4:hover{
  background-image: url("./pics/sfw.jpeg");
  color: #e4a8f9;
}
.item5:hover{
  background-image: url("./pics/animals.jpg");
  color: #99ea86;
}

.iconRight {
  position: absolute;
  right: 1%;
  opacity: 0.4;
}

.iconLeft, .iconRight {
  cursor: pointer;
  background-color: transparent;
  opacity: 0.6;
  height: 100%;
  position: absolute;
  padding-right: 20%;
  top: 0;
  bottom: 0;
  z-index: 2;
  font-size: 24px;
  color: white;
  transition: font-size 250ms;
}

.iconRight i{
position: absolute;
right: 1px;
text-align: right;
}
.iconRight i, .iconLeft i{
  transition: font-size 250ms;
}

.iconBack {
  font-size: 40px;
  z-index: 1;
  color: white;
  opacity: 0.4;
}

.subredditName {
  font-size: 16px;
  text-align: center;
  padding-top: 5%;
}

.inputFocus {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: transparent;
  color: red;
}

.wrapperRow {
  display: flex;
  flex-direction: column;
}
.wrapper {
  background-color: black;
  /* width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden; */
}

.lazy{
  display: none;
}

.logoTexts {
  display: relative;
  height: 70vw;
}
.flexer {
  display: flex !important;
  flex-direction: row !important;
}
.logo {
  margin-bottom: 0 !important;
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 40px;
}

.sloganText {
  font-style: italic;
  font-size: 16px;
}

.searchWrapper {
  width: 50px;
  z-index: 3;
}

.fullscreen-icon{
  z-index: 123123;
  color: white;
  position: absolute;
  top: 97%;
  left: 94%;
  right: 0;

}

.autocomplete--entering,
.autocomplete--entered {
  opacity: 1;
  transition: opacity 2200ms;
  margin: 5px 0 0 5px;
  padding-bottom: 30px;
  font-size: 16px;
  max-width: 200px;
  position: absolute;
}

.autocomplete--exiting,
.autocomplete--exited {
  opacity: 0.3;
  transition: opacity 2200ms;
  margin: 5px 0 0 5px;
  padding-bottom: 30px;
  position: absolute;
  font-size: 16px;
  
  max-width: 200px;
}
.transition--entering,
.transition--entered {
  opacity: 1;
  transition: margin 100ms;
  margin-top: 0;
}
.transition--exiting,
.transition--exited {
  opacity: 0.3;
  transition: margin 100ms ms;
  margin-top: 20%;
}

.searchButton--entering,
.searchButton--entered {
  border: 0 !important;
  position: relative;
  opacity: 1;
  transition: opacity 2200ms;
  border: 1px dashed white;
  font-size: 28px;
}

.searchButton--exiting,
.searchButton--exited {
  border: 0 !important;
  position: relative;
  opacity: 0.3;
  transition: opacity 2200ms;
  border: 1px dashed white;
  font-size: 28px;
}
@media (max-width: 600px) {
  .ant-dropdown{
    width: 100vw
   }
}

.iconSetting {
  font-size: 35px;
  z-index: 3;
  padding-top: 5px;
  max-width: 100px;
  white-space: wrap;
  border: 0;
  padding-bottom:3vh;
}

.iconSetting .anticon{
  display: inline;
}



.middleWrapper {
  color: white;
}
.scrollLogo {
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 26px;
}

.topbarZen .scrollLogo {
 opacity: 0;
}

.content{
  height: 95vh;
}
.contentZen{
  height: 100vh;
}



.contentZen i, .contentZen h2 {
  transition: font-size 250ms;
  font-size: 14px;
}
.topbarZen{
  opacity: 0.5;
    height: 5vh;
    background-color: transparent;
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 222222;
    position: absolute;
    top: 0;
    justify-content: space-between;
    border: 0;
  
}
.topBar {
  height: 5vh;
  background-color: #252120;
  max-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 2;
  
  justify-content: space-between;
  border-bottom: 1px solid #1890ff;
}
@media screen and (orientation: landscape) and (max-width: 1000px) {
  .titleText{
    top: 8vh;
  } 
  .topBar {
    height: 8vh;
  }
}
.topBar .ant-btn:focus {
  color: white;
}

.startWrap {
  display: flex;
  flex-direction: row;
  height: 120vh;
}

.startWrap button {
  border: 0 !important;
  border-radius: 0.1px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
}

.ageConsent button {
  background-color: black !important;
}


.smallText {
  font-size: 12px !important;
  background-color: black;
}
.OTHER2:hover {
  background-image: url("./pics/food.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 45px !important;
  background-position: left;
}

.OTHER3:hover {
  background-image: url("./pics/animals.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 45px !important;
}
.footerDiv {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  bottom: 0;
}

.footerDiv p,
h3 {
  color: lightgray;
}
.instructions p,
h3 {
  color: lightgray !important;
}

.rightCol {
  text-align: center;
  width: 49%;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  opacity: 0.9;
}
.leftCol {
  text-align: center;
  width: 48%;
  margin-left: 0.5%;
  display: flex;
  flex-direction: column;
}

.ant-switch-inner {
  font-size: 19px;
}

.ageConsent {
  position: relative;
  margin: auto;
  text-align: center;
}
